img {
    vertical-align: text-top;
}

ul 	{text-align: center;
		padding: 15px;
        background: #0d4263;
    }
li {
        display:inline;
        padding: 0px 50px 0px 50px;
        font-family: 'Oleo Script', cursive;
        color: #febe45;
    }

      p {
       	font-size: 20px;
        color: rgb(0,0,0);
        padding: 0px 100px 0px 100px;
      }
       a { color: #febe45;

       }