header {
        text-align: center;
        background: url("images/hero-image.png");
        background-size: cover;
        
      }
      a {
        color:white;
        }
      h1 {
        font-size: 70px;
        }
        img {margin: 0px 0px 0px 0px;
        border: 7px solid white;
        border-radius: 5px;
          }
      ul {
        padding: 10px;
        background: black;
      }
      li {
        display:inline;
        padding: 0px 10px 0px 10px;
      }