      	  body {
      	  	text-align: center;
        background: url("images/hero-image.png");
        background-size: cover;
      	text-align: center;
      	color: #0d4263;
        }

ul 	{
		padding: 15px;
        background: #0d4263;
    }
li {
        display:inline;
        padding: 0px 50px 0px 50px;
        font-family: arial;
        color: #febe45;
    }

      p {
      	font-style: italic;
       	font-size: 20px;
        color: rgb(0,0,0);
        padding: 0px 100px 0px 100px;
      }
       a { color: #febe45;

       }